# Model Configuration
MODEL_PATH=
MODEL_NAME=VoVanPhuc/sup-SimCSE-VietNamese-phobert-base
SEGMENTER_DIR=
HF_CACHE=/cache/huggingface

# MySQL Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=book_shop

# Qdrant Vector Database Configuration
QDRANT_API_KEY=
QDRANT_HOST=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=